.movieCatalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 26px;
}


.movieList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.noMovieCard {
    background-color: #8B4513;
    padding: 40px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 28px;
}